In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [11]:
passengerId = test['PassengerId'] # Passenger Id column will be used for the output dataframe
survived = train['Survived'] # Survived column will be used in the training

train.drop(columns='Survived', inplace=True)
data = pd.concat([train, test]);
data.drop(columns='PassengerId', inplace=True)

In [12]:
# Extracting titles from full names
data['Title'] = data['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
data.drop(columns='Name', inplace=True)
data['Title'].head()

0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
Name: Title, dtype: object

In [15]:
data['Title'].value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Mlle              2
Ms                2
Major             2
the Countess      1
Sir               1
Lady              1
Don               1
Mme               1
Dona              1
Capt              1
Jonkheer          1
Name: Title, dtype: int64

In [16]:
# Grouping the titles in more general groups
grouped_titles = {
    'Mr' :           'Mr',
    
    'Mrs':           'Mrs',
    'Mme':           'Mrs',
    'Ms':            'Mrs',
    
    'Miss':          'Miss',
    'Mlle':          'Miss',
    
    'Master':        'Master',
    
    'Don':           'Royalty',
    'Lady':          'Royalty',
    'Sir':           'Royalty',
    'the Countess':  'Royalty',
    'Jonkheer':      'Royalty',
    'Dona':          'Royalty',
    
    'Rev':           'Crew',
    'Dr':            'Crew',
    'Major':         'Crew',
    'Col':           'Crew',
    'Capt':          'Crew' 
}

In [17]:
# Updating titles
data['Title'] = data['Title'].map(grouped_titles)
data['Title'].value_counts()

Mr         757
Miss       262
Mrs        200
Master      61
Crew        23
Royalty      6
Name: Title, dtype: int64